h1 {
    color: red;
}

p {
    color: blue;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;

}

/* Este é um comentário */

/*
    Este
    é
    um
    comentário
*/

/*Classes e IDs*/
.p-texto {
    color: lightseagreen;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}


/*Especificidade*/
div p {
    color: red;
}

.p-dentro-da-div {
    color: blue;
}

#p-super-especifico {
    color: green;
}

/*Cores*/
.nome {
    color: orange;
}

/*padrão mais usado*/
.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 214, 1);
    font-size: 40px;
}

/*Backgrounds*/
.div-background {
    background-image: url('img/por-do-sol.jpeg');
    height: 300px;
}

.div-background h1 {
    text-align: center;
}

.titulo-background {
    text-align: center;
    background-color: #000;
    color: #FFF;
}


/*Fontes*/


.family {
    color: #000;
    font-size: 40px;
}

.family.serif {
    color: green;
}

.serif {
    font-family: "times new roman";
}

.sans-serif {
    font-family: arial;
}

/*Cada caracter ocupa o mesmo espaço na tela*/
.monospace {
    font-family: "Courier New";
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;
}